pipelines:
  custom:
    # Deploy to test
    deploy-to-test:
      - step:
          name: Build
          deployment: Test
          image: node:12.16.1-alpine
          caches:
            - node
          script:
            - scripts/build.sh
          artifacts:
            - dist/**
      - step:
          name: Deploy
          deployment: Test
          caches:
            - node
          script:
            - scripts/deploy.sh
          services:
          - docker




